body{
    background-image: url(background.jpg);
        background-repeat: no-repeat;

}

.edit{
    background-image: url(poly.jpg);
        background-repeat: repeat;
}

nav a{
  padding: 15px 15px;
}

nav a.active {
  color: white;
  font-weight: bold;
}

header{
    background-color: #c8a451;
    text-align: center;
}

footer{
    background-color: #c8a451;
}

ul{
    list-style-image: url(lol.jpg);
    font-weight: bolder;
    color: azure;
}
