body{
    background-image: url(background.jpg);
}

nav{
    background-color: #ab9807;
    text-align: center;
    font-size: 17px;
}

header{
    background-color: #ffffff;
    text-align: center;
}

footer{
    background-color: #ffffff;
}