<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games to play</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div>
        <header>
            <h1> Games to play</h1>
        </header>

    <nav>
      <a href="">Fortnite</a>
      <a href="">Pubgy</a>
      <a href="">Battle Royal</a>
    </nav>

    <main>
        <h2>Call of Duty</h2>
        <img src="cod.webp" class="float">
        <p>Call of Duty is one of the most game I've played and it is more fun to play when you're playing with friends and family. I played Called of Duty because my uncle usually play games related to this. Sometimes our cousins would find excuse just so we can all play but somehow our parents already see through our plan. This game brings a lot of memories with family and friends I've played with, and it's good to take some time off from studying to do something you like. Not all gamers love Call of Duty, some plays Pubgy, Fortnite, etc... The game is also free which benefits those that love to play without having to worry about <span class="t">Buying</span> the game to play. You can also download it to your phone or computer to play.</p>
    </main>
    </div>
    
    
    <footer>
        <p>&copy; 2026, Makeleta</p>
    </footer>
</body>
</html>
