body{
  background-image: url(game.jpg);
  margin: 0;
  padding: 0;
}

header{
  background-image: url(header.jpg);
  background-repeat: repeat;
  font-size: medium;
  font-weight: 100;
  font-style: italic;
  padding: 30px;
  text-align: center;
  border-radius: 10px 10px 0 0;

}

header h1{
  color: #eeff00;
}

img{
  width: 400px;
  height: 250px;
}

main{
  margin: 2rem 2rem 4rem;
  overflow: auto;
}

nav{
  background-color: #e6e3e9;
  margin: 20px; 
  border: 3px solid navy;
  border-radius: 10px;
  box-shadow: 0px 4px 12px #c8c3d6;
}

nav a{
  padding: 75px;
}

div{
  margin: 2rem 2rem auto;
  background-color: #438fce;
  max-height: 1000px;
  border-radius: 10px;

}

p{
  line-height: 150%;
  font-family: 'Courier New', Courier, monospace;
}

#center{
  text-align: center;
}

.t{
  text-transform: uppercase;
  color: #eeff00;
  font-weight: bold;
  font-style: italic;
}

.float{
  float: right;
  margin: 0 0 30px 20px;
}