body{
    background-color: #b8fad4;
}
header{
    background-color: #1f203e;
    padding: 2px;
    color: #66f9a3;
    text-align: center;
}
nav{
    background-color: rgb(160, 205, 205);
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

main{
    background-color: white;
    display: grid;
    grid-template-columns: 30% 70%;
    text-align: center;
}

div{
    display: grid;
    justify-content: space-around;
}

aside{
    display:flex;
    flex-direction: column;
    padding: 25px;
}

.container{
    display: grid;
    align-items: start;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    text-align: center;
    font-family: cursive;
    font-weight: bold;
}

.card{
    text-align: center;
    background-color: #668af6;
    border: 2px solid;
    border-radius: 4px;
}

.size{
    width:251px;
    height: 140px;
    border-radius: 3px 3px 0 0;
}

.left{
    text-align: left;
}

footer{
    background-color: #1f243e;
    border:2px solid black;
    color:#66f9a3;
    text-align: center;
}
