header {
    background-color: #0eaf79;
    color: white;
    margin-right: 20px;
    font-size: 20px;
}

footer{
    background-color: #0eaf79;
    font-size: 20px;
}

img {
    width: 400px;
    hight: 350px;
    

}

body{
    background-image: url(computer.webp);
    background-repeat: no-repeat;

}

main{
    background-color: aliceblue;
}