body{
    background-image: url(back.avif);
}

.Menu{
    display: grid;
    background-color: rgb(10, 49, 26);
    border: none;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    text-align: center;
    font-family: cursive;
    font-weight: bold;

}

h1{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-shadow: 1px 5px #945858;
}

div{
    background-color:#277b5f;
    border: 3px solid rgb(195, 186, 90);
    border-radius: 10px;
    padding: 24px 30px;
    box-shadow: 1px 3px #945858;

}

.special{
    grid-column: span 3;
    background-color: #2c926d;
}

